@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat/Montserrat-Regular.woff2');
    font-weight: 500;
}
@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat/Montserrat-Medium.woff2');
    font-weight: 700;
}
@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat/Montserrat-Bold.woff2');
    font-weight: 900;
}
*{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
:root {
    --primary-color:  #32b3c2;
    --secondary-color: #393f43;
    --dark-color: #000;
    --semi-dark:  #2f3539;
    --light-color: #fff;
    --gray-color: #808080;


    --primary-filter: invert(83%) sepia(8%) saturate(5866%) hue-rotate(146deg) brightness(81%) contrast(83%);
    --secondary-filter: invert(20%) sepia(13%) saturate(428%) hue-rotate(161deg) brightness(93%) contrast(84%);
    --gray-filter: invert(58%) sepia(0%) saturate(15%) hue-rotate(212deg) brightness(86%) contrast(78%);
    --light-filter: invert(100%) sepia(0%) saturate(4511%) hue-rotate(145deg) brightness(122%) contrast(94%);
}

ul {
    padding: 0px;
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  .container {
    width: 80%;
    margin: 0px auto;
  }
  
  .general-section{
    width: 100%;
    padding: 90px 0px ;
    position: relative;
    z-index: 9;
  }
  .line{
    background-color: var(--primary-color);
    width: 180px;
    height: 2px;
    margin: 15px auto;
  }
  
  .d-flex {
  display: flex;
  align-content: center;
  align-items: center;
  }
  
  .navbar {
      width: 100%;
      padding: 20px 0px;
      background-color: var(--light-color);
      position: fixed;
      top: 0;
      left: 0;
      z-index: 999;
    }
    
    .navbar .contain {
      width: 100%;
      justify-content: space-between;
    }
    
    .navbar .contain .brand-name {
      font-size: 30px;
      font-weight: 900;
      color: var(--dark-color);
      text-transform: capitalize;
    }
    
    .navbar .contain .navbar-nav {
      gap: 20px;
    }
    
    .navbar .contain .navbar-nav li a{
        width: 100%;
        height: 50px;
        margin: 7px auto;
        color: var(--dark-color);
        text-transform: capitalize;
        cursor: pointer;
        font-weight: 700;
        overflow: hidden;
        position: relative;
        z-index: 9;
      }
      
      .navbar .contain .navbar-nav li a::before,
      .navbar .contain .navbar-nav li a::after{
        content: '';
        position: absolute;
        width: 0%;
        height: 100%;
        z-index: -1;
        opacity: 0.4;
        transition: width 0.2s;
        border-bottom: 2px solid var(--dark-color);
      }
      
      .navbar .contain .navbar-nav li a::after{
        right: 0;
      }
      .navbar .contain .navbar-nav li a::before{
        left: 0;
      }
      
      .navbar .contain .navbar-nav li a:hover:before,
      .navbar .contain .navbar-nav li a:hover::after{
        width: 50%;
      }
      
   
    .header{
        background: url('../images/header_1.webp') center/ cover no-repeat;
        position: relative;
        z-index: 9;
        width: 100%;
        padding: 200px 0px 200px;
      }
      
      .header .contain {
        width: 80%;
        text-align: center;
        margin: 0px auto;
      }
      
      .header .contain h1{
        text-transform: capitalize;
        color: var(--light-color);
        z-index: 99;
        font-weight: 700;
        font-size: 45px;
      }
      
      .header .contain p{
        color: var(--light-color);
        margin: 20px;
      }
      
      .header .contain .email-field{
        background-color: rgba(78, 77, 77, 0.815);
        border-radius: 4px;
      }
      
      .header .contain input{
        border-radius: 3px;
        font-weight: 700;
        border: none;
        padding-inline-start: 20px;
        width: 70%;
        padding-top: 10px;
        padding-bottom: 10px;
        outline: none;
      }
      
      .header .contain input:hover{
        border: 2px solid var(--primary-color);
      }
      
      .header .contain button{
        margin: 10px 0px;
        text-transform: uppercase;
        background-color: var(--primary-color);
        border: none;
        color: var(--light-color);
        padding: 10px 15px;
        border-radius: 3px;
        font-weight: 700;
        cursor: pointer;
      }

        .choose-us .contain{
            text-align: center;
            justify-content: center; 
          }
          
          
          .choose-us .contain .row {
            flex-wrap: wrap;
            gap: 20px;
          }
          
          .choose-us .row .card-choose {
            width: 30%;
            margin: 15px auto 140px auto;
            height: 290px;
            z-index: 9;
            position: relative;
          }
          
          .choose-us .row .card-choose img {
            width: 100%;
            height: 90%;
            object-fit: cover;
            object-position: top;
          }
          
          .choose-us .contain .row .card-choose .choose-info{
            box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.19);
          }
          
          .choose-us .contain .row .choose-info h6{
            text-align: center;
            text-transform: capitalize;
            color: var(--primary-color);
            font-size: 18px;
            font-weight: 900;
            margin: 0px;
          }
          
          .choose-us .contain .row .card-choose .choose-info p{
            text-align: center;
            text-transform: capitalize;
            color: var(--dark-color);
            font-size: 13px;
            font-weight: 500;
            margin: 10px 0px;
          }
          
          .choose-us .contain .row .card-choose .contact-data{
            width: 100%;
            height: 0%;
            background-color: #31c7d595;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 9;
            justify-content: center;
            flex-direction: column;
            opacity: 0;
            visibility: hidden;
            gap: 15px;
            transition: all .4s;
          }
          
          .choose-us .contain .row .card-choose .contact-data h6{
            text-transform: capitalize;
            color: var(--primary-color);
            font-weight: 700;
            font-size: 18px;
          }
          
          .choose-us .contain .row .card-choose .contact-data p{
            text-transform: capitalize;
            color: var(--secondary-color);
            font-weight: 500;
            font-size: 14px;
          }
          
          
          .choose-us .contain .row .card-choose:hover .contact-data {
            transform: translateY(-10px);
          }
        
          .choose-us .contain .row .card-choose button{
            background-color: transparent;
            color: var(--primary-color);
            padding: 5px 15px;
            border: 1px solid var(--primary-color);
            border-radius: 5px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            text-transform: capitalize;
            margin: 10px 0;
          
          }
          .features.general-section{
            background: linear-gradient(var(--secondary-color)70%,var(--primary-color)30%) ;
            width: 100%;
            text-align: center;
            margin-bottom: 50px;
            position: relative;
          }
          .features .contain h1{
            text-align: center;
            text-transform: capitalize;
            color: var(--light-color);
            font-size: 18px;
            font-weight: 900;
            margin: 0px;
           
          }
          
          .features .contain p{
            text-transform: capitalize;
            color: var(--light-color);
            font-weight: 500;
            font-size: 14px;
          }
          .features .container .note{
            justify-content: center;
            width: 80px;
            height: 80px;
            border-radius: 50%;
          }
          .features .container .note img{
            width: 80px;
            height: 80px;
            border-radius: 50%;
          }
          .note .note-info p{
            margin: 0px 30px;
            text-align: left;
          }
          
          .note-info h5 {
            color: var(--light-color);
            text-transform: capitalize;
            font-weight: 700;
            font-size: 14px;
            text-align: start;
          }
          
          .note-info h6{
            color: var(--light-color);
            text-transform: capitalize;
            font-weight: 500;
            font-size: 13px;
            text-align: start;
          }
          
          .note .container .note-info p{
            color: var(--light-color);
            font-weight: 500;
            font-size: 15px;
            width: 45%;
            text-align: end;
            border-left: 0.5px solid var(--light-color);
            padding-left: 20px;
          } 
         
          .about-us .contain{
            justify-content: center;
          }
          
          .about-us .contain .about-us-data{
            margin-left: 100px;
          }
          
          .about-us .contain h2{
            font-size: 20px;
            font-weight: 700;
          }
          
          .about-us .contain p{
            font-size: 14px;
            font-weight: 500;
            width: 90%;
            margin: 10px 0px;
            color: var(--secondary-color);
          }
          
          .about-us .contain .about-us-data .icons{
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            background-color: var(--primary-color);
            border-radius: 50%;
          }
          
          .about-us .contain .about-us-data img{
            filter: var(--light-filter);
          }
          
          .about-us .contain .about-us-data .d-flex p{
            margin-left: 20px;
          }
         

          .logo{
            border-top: 1px solid rgba(128, 128, 128, 0.305);
          }
          
          .logo .contain{
            gap: 90px;
            margin: 15px 0px;
          }
          
          .logo .contain img:hover{
            filter: var(--primary-filter);
          }
         
          .show-case{
            background-color: var(--secondary-color);
            width: 100%;
            text-align: center;
          }
          .show-case .contain h1{
            text-align: center;
            text-transform: capitalize;
            color: var(--light-color);
            font-size: 18px;
            font-weight: 900;
            margin: 0px;
          }
          .show-case .contain p{
            text-transform: capitalize;
            color: var(--light-color);
            font-weight: 500;
            font-size: 14px;
          }
          .show-case .row .d-flex .box{
            width: calc((100% / 3) - 20px);
            height: 100%;
            padding: 40px 0px;
            flex-direction:row ;
            text-align: center;
          }
          
          .show-case .row .card-show {
            width: 32%;
            margin: 20px auto 140px auto;
            height: 400px;
            z-index: 9;
            position: relative;
            padding: 40px 0px;
          }
          
          .show-case .row .card-show img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        
          .show-case .container .show-case-icons{
            gap: 70px;
            justify-content: center;
            text-align: center;
          }
          
          .show-case .container .show-case-icons .icons-info{
            opacity: 0.6;
          }
          
          .show-case-icons img{
            filter: var(--gray-filter);
            width: 25px;
            height: 25px;
          }
          
          .show-case-icons p{
            color: var(--light-color);
            margin-left: 5px;
            text-transform: capitalize;
            font-size: 12px;
          }
          .blog{
            background-color: rgb(236, 236, 236);
          }
          
          .blog .contain{
            justify-content: center;
            text-align: center;
            width: 100%;
            margin: 0px auto;
          }
          
          .blog .contain h1{
            color: var(--primary-color);
            font-weight: 900;
            font-size: 36px;
            text-align: center;
            text-transform: capitalize;
          }
          
          .blog .contain p{
            width: 70%;
            color: var(--dark-color);
            font-weight: 500;
            font-size: 16px;
            text-align: center;
            text-transform: capitalize;
            margin: 10px auto;
          }
          
          .blog .contain .row {
            flex-wrap: wrap;
            gap: 20px;
          }
          
          .blog .contain .row .box{
            width: calc((100% / 3) - 20px);
            background-color: var(--light-color);
            margin: 15px 0px;
          }
          
          .blog .contain .row .box:hover{
            transform: translateY(-20px);
          }
          
          .blog .contain .row .box .box-content{
            padding: 20px;
          }
          
          .blog .contain .row .box img{
            width: 100%;
            height: 100%;
            justify-content: center;
            object-fit: cover;
          }
          
          .blog .contain .row .box p{
            text-align: start;
            width: 100%;
            color: var(--secondary-color);
            opacity: 0.5;
          }
          
          .blog .contain .row .box h6{
            text-align: left;
            font-size: 14px;
          }
          
          
          .blog .contain .row .box button{
            text-transform: capitalize;
            background-color: transparent;
            border-radius: 4px;
            border: 2px solid var(--primary-color);
            color: var(--primary-color);
            font-size: 14px;
            font-weight: 700;
            padding: 5px 10px;
          }
          
          .blog .contain .row .box .additional-section{
            position: relative;
          }
          
          .blog .contain .row .box .additional-section .additional{
            position: absolute;
            right: 0;
          }
          
          .blog .contain .row .box .additional img{
            width: 20px;
            height: 20px;
            margin-right: 5px;
            filter: var(--secondary-filter);
          }
          

          .discover{
            width: 100%;
            background: url('../images/header_1.webp') center / cover no-repeat;
            position: relative;
            z-index:9;
            justify-content: center;
            text-align: center;
          }
          
          .discover h1{
            color: var(--light-color);
            text-transform: capitalize;
            font-weight: 700;
            font-size: 26px;
            text-align: center;
            position: relative;
            z-index: 9;
          }
          
          .discover h1::after{
            content: '';
            background-color: var(--light-color);
            height: 1px;
            width: 60px;
            position: absolute;
            right: 120px;
            top: 50%;
          }
          
          .discover h1::before{
            content: '';
            background-color: var(--light-color);
            height: 1px;
            width: 60px;
            position: absolute;
            left: 120px;
            top: 50%;
          }
          
          .discover p{
            color: var(--light-color);
            text-align: center;
            font-weight: 300;
            font-size: 16px;
            margin: 20px 0px;
          }
          
          .discover button{
            text-transform: uppercase;
            font-weight: 500;
            padding: 15px;
            border-radius: 5px;
            cursor: pointer;
          }
          
          .discover .btn-1{
            background-color: var(--light-color);
            border:  3px solid var(--light-color);
            color: var(--semi-dark);
          }
          
          .discover .btn-2{
            background-color: transparent;
            border: 3px solid var(--light-color);
            color: var(--light-color);
          }
          
          .price-plan .contain h1{
            text-align: center;
            font-size: 25px;
            font-weight: 900;
            text-transform: capitalize;
            margin-bottom: 10px;
          }

          .price-plan .contain p{
            text-align: center;
            font-size: 18px;
            font-weight: 500;
            text-transform: capitalize;
            margin-bottom: 20px;
            color: var(--gray-color);
          }
          .price-plan .container{
            width: 100%;
            position: relative;
            display: flex;
            justify-content: center;
            font-size: 16px;
            gap: 20px;
          }
          .card-basic ,.card-standard , .card-premium {
            width:100%;
            position: relative;
            background-color: var(--light-color);
            border-radius: 10px;
            text-align: center;
            padding: 48px 0;
            box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
          }
         .card-basic h3{
            width: 70%;
            padding: 9.6px 0;
            background-color: orange;
            color: var(--light-color);
            border-radius: 5px 35px 35px 5px ;
            position: relative;
            margin-left: -9.6px ;
            font-weight: 500;
            font-size: 25px;
            letter-spacing: 10px;
            text-transform: capitalize;
          }
          .card-standard h3{
            width: 70%;
            padding: 9.6px 0;
            background-color: rgba(56, 142, 185, 0.74);
            color: var(--light-color);
            border-radius: 5px 35px 35px 5px ;
            position: relative;
            margin-left: -9.6px ;
            font-weight: 500;
            font-size: 25px;
            letter-spacing: 10px;
            text-transform: capitalize;
          }
          .card-premium h3{
            width: 70%;
            padding: 9.6px 0;
            background-color: rgb(79, 184, 79);
            color: var(--light-color);
            border-radius: 5px 35px 35px 5px ;
            position: relative;
            margin-left: -9.6px ;
            font-weight: 500;
            font-size: 25px;
            letter-spacing: 10px;
            text-transform: capitalize;
          }
          .card-basic h1{
            font-size: 32px;
            margin: 13px;
            color: var(--dark-color);
          }
          .card-standard h1{
            font-size: 32px;
            margin: 13px;
            color: var(--dark-color);
          }
           .card-premuim h1{
            font-size: 32px;
            margin: 13px;
            color: var(--dark-color);
          }
         
         .card-basic li ,  .card-standard li ,  .card-premium li{
            position: relative;
            margin: auto;
            width: 60%;
            padding-bottom: 8px;
            color: var(--dark-color);
          }
          .card-basic ul li:not(:last-child) ,.card-standard ul li:not(:last-child) , .card-premium ul li:not(:last-child) {
            margin-bottom: 40px;
            border-bottom: 1px solid var(--gray-color);
          }
          .card-basic button {
            font-size: 30px;
            margin-top: 40px;
            text-transform: capitalize;
            width: 50%;
            padding: 16px 0;
            background-color: orange;
            border: none;
            color: var(--light-color);
            border-radius: 5px;
          }
          .card-standard button {
            font-size: 30px;
            margin-top: 40px;
            text-transform: capitalize;
            width: 50%;
            padding: 16px 0;
            background-color:  rgba(56, 142, 185, 0.74);
            border: none;
            color: var(--light-color);
            border-radius: 5px;
          } .card-premium button {
            font-size: 30px;
            margin-top: 40px;
            text-transform: capitalize;
            width: 50%;
            padding: 16px 0;
            background-color:  rgb(79, 184, 79);
            border: none;
            color: var(--light-color);
            border-radius: 5px;
          }
          .social-icons{
            background-color: rgb(236, 236, 236);
            padding: 40px 0px;
            justify-content: center;
            text-align: center;
          }
          
          .social-icons a{
            gap: 30px;
            padding-inline-start: 10%;
          }
          
          .social-icons a img{
            width: 30px;
            height: 30px;
            filter: var(--secondary-filter);
            opacity: 0.7;
          }
          
          .social-icons a img:hover{
            filter: var(--primary-filter);
          }
          .contact-us{
            background-color: var(--secondary-color);
          }
          .contact-us .contain{
            justify-content: center;
          }
          .contact-us .contain h2{
            font-size: 26px;
            font-weight: 900;
            text-align: center;
            text-transform: capitalize;
            color: var(--light-color);
          }
          .contact-us .contain p{
            font-weight: 700;
            font-size: 18px;
            text-align: center;
            color: var(--light-color);
            margin: 10px 0px;
          }
          .contact-us .container .contact-data form{
            width: 60%;
            margin:auto;
            text-align: center;
          }
          
          .contact-us .container .contact-data form input{
            padding: 4px 300px 4px 300px;
            margin: 10px auto;
            border-color: var(--light-color);
            font-weight: 500;
            border-style: solid;
            text-align:justify;
            background-color: var(--secondary-color);
            color: var(--light-color);
          }
          
          .contact-us .container .contact-data form input:hover{
            border-color: var(--primary-color);
          }
          .contact-us .container .contact-data form textarea{
            padding: 5px 300px 50px 300px;
            margin: 25px auto;
            border-color: var(--light-color);
            border-width: 2px;
            resize: none;
            font-weight: 500;
            text-align: justify;
            border-style: solid;
            background-color: var(--secondary-color);
          }
          .contact-us .container .contact-data form textarea:hover{
            border-color: var(--primary-color);
          }
          .contact-us .container .contact-data form button{
            padding: 16px 340px 16px 4px;
            margin: 10px auto;
            background-color: var(--primary-color);
            color: var(--light-color);
            text-transform: capitalize;
            cursor: pointer;
            font-weight: 700;
            border-radius: 2px;
          }
          .contact-us .container .contact-data form button:hover{
            border-color: var(--secondary-color);   
            background-color: var(--gray-color);    
             }
             footer{
              padding: 25px 0px;
              width: 100%;
              background-color: var(--semi-dark);
            }
            
            footer .contain{
              justify-content: center;
              text-align: center;
            }
            
            footer .contain p{
              text-transform: capitalize;
              color: var(--light-color);
              font-weight: 500;
              font-size: 18px;
            }
            footer .contain a{
              color: var(--primary-color);
            }
            
          